$contentGround: #ffffff;
$bodyGround: #dcbb9a;
$titleColor: #893c00;
$tableColor:#e0e0e0;
$briefColor:#fadcba;
$labelColor:#808080;
$placeholderColor:$labelColor;
$linxColor:#3d70a1;
$tdGround:#ffffff;
$paragraphColor:#000000;

$brieffloat: left;
$briefwidth: 300px;
$briefmargin: 0 20px 15px 0;