$contentGround: #3b3b3b;
$bodyGround: rgba(198, 238, 252, 0.53);
$titleColor: #fccd10;
$tableColor:#94a34e;
$briefColor:#fff178;
$labelColor:#fccd10;
$placeholderColor:#000000;
$linxColor:#f5c70f;
$tdGround:#677d01;
$paragraphColor:#ffffff;

$brieffloat: none;
$briefwidth: initial;
$briefmargin: 0 0 20px 0;